/* main.css */
.search{
    font-size: 13px;
    padding-left: 7px;
    background: white;
}
.statistics{
    display: none;
    font-size: 13px;
    border:1px solid #999999;
    overflow-y: scroll;
    padding-left: 7px;
    background: white;
}
#mapZoom>div {
    margin: 3px;
    font-size: 12px;
    border: solid 2px blue;
    background: #fff;
    padding: 2px;
    line-height: 15px;
    cursor: pointer;
  }
.mapTool{
    position: absolute;
    margin: 5px;
    padding: 0px;
    border: 0px;
    background: #f4f4ed;
}