.srarch{
    font-size: 13px;
    padding-left: 7px;
    background: white;
}
.statistics{
    display: none;
    font-size: 13px;
    border:1px solid #999999;
    overflow-y: scroll;
    padding-left: 7px;
    background: white;
}